.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 45px 82px;
    gap: 115px;
}
.cart__title{
    font-size: 60px;
    line-height: 75px;
    font-weight: 200;
    padding: 100px 0 113px 45px;
}
.cart{
    display: flex;
    flex-direction: column;
    gap: 45px;
    position: relative;
    width: 60%;
}
.cart__line{
    width: 100%;
    height: 1px;
    background-color: #ffffff25;
}
.cart__items{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.cart__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
}
.cart__main{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.cart__item__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart__img{
    width: 150px;
    height: 150px;
    flex: 0 0 150px;
    overflow: hidden;
}
.cart__img a{
    display: block;
    width: 100%;
    height: 100%;
}
.cart__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.cart__content{
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 420px;
}
.cart__name{
    font-size: 22px;
    font-weight: 200;
}
.cart__description{
    font-size: 14px;
    color: #9C9C9C;
    max-width: 255px;
    font-weight: 100;
    line-height: 21px;
}
.cart__size{
    font-size: 14px;
}
.cart__meta{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.cart__item__price{
    font-size: 18px;
    font-weight: 200;
    margin-top: auto;
}
.cart__delete {
    width: 22px;
    height: 22px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.cart__delete::before,
.cart__delete::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    background-color: #fff;
}
.cart__delete::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.cart__delete::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.cart__delete:hover{
    background-color: #fff;
}
.cart__delete:hover::before,
.cart__delete:hover::after{
    background: #000;
}
.cart__summary{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%;
    margin: 0 auto;
    background-color: #0840F4;
    padding: 20px 53px 25px 20px;
}
.cart__summary__title{
    font-size: 20px;
}
.cart__summary__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cart__summary__label{
    font-size: 14px;
    font-weight: 100;
}
.cart__summary__price{
    font-size: 14px;
    font-weight: bold;
}
.cart__summary__line{
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.cart__summary__shippingWrapper{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.cart__summary__delivery{
    font-size: 12px;
    font-weight: 100;
}
.cart__summary__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    background-color: #fff;
    border-radius: 15px;
    padding: 22px 25px 25px 83px;
    color: #0840F4;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    box-shadow: inset 0 0 0 1px #0840F4;
    text-decoration: none;
}
.cart__summary__btn:hover{
    background: linear-gradient(to bottom, #ffffff, #a3a5cd) border-box;
}
.cart__summary__arrow{
    color: #0840F4;
}
