.catalog {
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.catalog__video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    position: relative;
    pointer-events: none;
}
.block{
    display: block;
}
.catalog__mainText{
    font-size: 60px;
    line-height: 63px;
}
.catalog__title{
    font-size: 25px;
    line-height: 67px;
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 5%;
}
.catalog__content{
    align-items: center;
}
.catalog__active{
    background-color: #0840F4;
    border: none;
}