.collection{
    position: relative;
    overflow: hidden;
    position: relative;
    padding: 180px 0 0 0;
}
.img-container{
    pointer-events: none;
}
.collection__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection__header{
    padding: 45px 40px 0 40px;
    z-index: 2;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.collection__title{
    font-size: 25px;
    font-weight: 100;
}
.collection__mainText{
    font-size: 90px;
    font-weight: 100;
    line-height: 90px;
}
.collection__price{
    font-size: 35px;
    font-weight: 100;
}
.collection__text{
    max-width: 185px;
}
.collection__content{
    align-items: end;
}