.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 35px;
    max-width: 1400px;
    margin: 0 auto;
}

.menu__list {
    display: flex;
    gap: 65px;
    flex-wrap: wrap; 
}

.menu__link {
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    transition: color 0.2s ease;
}
.menu__link:hover{
    color: #004CFC;
}
.header-actions {
    display: flex;
    gap: 18px;
}

.header-actions__btn {
    padding: 12px 14px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.header-icon {
    color: #ADADAD;
    transition: color 0.2s ease;
}
.header-actions__btn:hover{
    background-color: #004CFC;
    border-radius: 4px;
    transition: color 0.2s ease;
}
.header-actions__btn:hover .header-icon {
    color: #fff;
    background-color: #004CFC;
}

@media (max-width: 1024px) {
    .menu__list {
        gap: 30px;
    }
    .header-actions {
        gap: 10px;
    }
    .menu__link {
        font-size: 12px;
    }
    .logo img {
        max-width: 100px;
        max-height: 20px;
    }
}