.insights{
    padding: 100px 50px;
}
.insights__cards-container{
    overflow: hidden;
    width: 100%;
    position: relative;
}
.insights__cards{
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.insights__cards-container .insights__img{
    width: 380px;
    object-fit: cover;
}

.insights__arrowImg{
    width: 16px;
    height: 16px;
    object-fit: contain;
}
.insights__card{
    position: relative;
}
.insights__content{
    margin: 35px 50px 0 0;
    font-size: 30px;
    line-height: 32px;
    font-weight: 200;
}
.insights__title{
    color: #fff;
}
.insights__description{
    color: #8B8F94;
    margin-left: 6px; 
}
.insights__arrow{
    position: absolute;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
    z-index: 2;
    top: 10px;
    right: 6px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    font-weight: 700; 
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insights__arrow:hover{
    rotate: calc(50deg);
    transition: rotate 0.5s ease;
}
