.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 80px 40px 80px 40px;
    border-top: 1px solid #ffffff20;
    margin: 0 auto;
    max-width: 1360px;
    width: 100%;
}
.footer__content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    
}
.footer__links{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.footer__title{
    font-size: 25px;
    font-weight: 300;
    line-height: 41px;
    color: #fff;
}
.footer__link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    line-height: 44px;
    color: #858585;
}
.footer__link:hover{
    text-decoration: underline;
    color: #fff;
    transition: color 0.3s ease;
}
.footer__socials{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact__social{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 50px;
}
.textLogo{
    font-weight: bolder;
    font-size: 18px;
    line-height: 41px;
    color: #fff;
}
.address__link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    color: #696969;
}
.footer__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.payments{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.bottom__links{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.bottom__link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 38px;
    color: #676767;
}
.bottom__link:hover{
    text-decoration: underline;
    cursor: pointer;
}