.advantages{
    padding: 140px 40px 0 40px;
}
.advantages__cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 0 0;
}
.advantages__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 100px;
}
.advantages__card--circle{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #004CFC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantages__icon{
    width: 40px;
    height: 40px;
}
.advantages__card{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.advantages__card--title{
    font-size: 20px;
    font-weight: 400;
}
.advantages__card--text{
    font-size: 14px;
    font-weight: 200;
    color: #858585;
    line-height: 19px;
}
.context__card{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}