.categories{
    display: flex;
    flex-direction: column;
    padding: 80px 40px 90px;
    z-index: 2;
    position: relative;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 20px;
    padding: 0 0 50px 0;
}
.card {
    position: relative;
    cursor: pointer;
}
.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.card:hover::after {
    opacity: 1;
}
.card img {
    width: 100%;
    display: block;
}
.card__title {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;   
    justify-content: flex-start; 
    padding: 0 0 36px 27px;

    font-size: clamp(18px, 2.5vw, 35px);
    font-weight: 300;
    color: #fff;
    z-index: 1;
}
.btn--categories{
    margin: 0 auto;
}
.btn-img{
    transform: rotate(320deg);
}