.hero__slider{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__video{
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;

    border-radius: 0 0 0 40px;
    z-index: 0;
}
.hero__video.block{
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}
.pagination-circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3C3C3C;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.active{
    background-color: #fff;
}
.bottom{
    display: flex;
    column-gap: 4px;
    position: absolute;
    bottom: 15%;
    right: 10%;
    padding: 7px;
    border-radius: 1000px;
    background-color: #000;
    z-index: 5;
}
.hero__content{
    position: absolute;
    background-color: transparent;
    left: 3%;
    bottom: 18%;
    right: 16%;
    z-index: 3;
    display: flex;
    gap: 35px;
    flex-direction: column;
}
.hero__shadow{
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 600px 200px #080302ad;
}
.hero__title{
    font-size: 80px;
    line-height: 60px;
    letter-spacing: -2px;
}